
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="todo__wrapper">
    <div class="todo__content">
        <h1>Reminder</h1>
        <form class="newItem">
            <div class="newItem__input">
                
                <button type="button" id="createtaskButton">
                    <a href="/tasks">
                    <i class="fas fa-plus"></i>
                    Create TASK...
                </button>   
                </a>                  
            </div>

        </form>
        <ul class="todo__list">
            {{#each tasks}}
            <li class="todo__item">
                <input type="checkbox" id="{{_id}}" {{#if isCompleted}}checked{{/if}} onchange="handleCheck('{{_id}}')">
                <label for="{{_id}}">
                <span class="check__box">
                    {{#if isCompleted}}
                    <i class="fas fa-check check__pointer"></i>
                    {{else}}
                    <i class="far fa-check check__pointer"></i>
                    {{/if}}
                </span>
                <span class="item__title">{{title}}</span> 
                <span class="item__description">{{description}}</span>
                <span class="item__description">{{dueDate}}</span> 
                </label>
                    <div class="item__buttons">
                        <button type="button" class="edit__button" onclick="handleEdit('{{_id}}')">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="delete__button" onclick="handleDelete('{{_id}}')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>                
                <i class="fas fa-trash-alt item__trash-can"></i>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

</body>
</html>
